@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Quicksand&display=swap");
body {
  background-color: white;
  /* overflow-x: hidden; */
}

section{
  
   box-shadow: rgba(0, 0, 0, 0.238) 0px 13px 27px -5px, rgba(0, 0, 0, 0.252) 0px 8px 16px -8px;
   padding:80px 80px 30px 80px;
    border-radius:10px 10px;
}
#blog-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(2, 162, 255);
  margin: 100px 60px 80px 60px;
  border-radius: 20px;
  height: 280px;
  box-shadow: 4px 4px 1px 1px rgb(183, 217, 252);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  font-family: "Poppins", sans-serif;
  margin-bottom: 300px;
  margin-top: 150px;
}

.pic1 {
  max-height: 370px;
  padding-bottom: 43px;
}
#BLOG {
  font-size: 30px;
}
#hBlog {
  padding-left: 220px;
  padding-bottom: 10px;
  color: rgb(255, 255, 255);
}
.blog-text {
  font-size: 20px;
  margin-left: -130px;
  color: rgb(255, 255, 255);
}
#blog-home:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 2px 2px rgb(183, 217, 252);
}
/* #blog-home:hover #hBlog {
  color: rgb(0, 0, 0);
  transform: translateY(-10px);
}
#blog-home:hover .blog-text {
  color: rgb(8, 8, 8);
  transform: translateY(-10px);
} */
#blog-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 20px;
  row-gap: 0px;
}
#blog-container .post img {

  border-radius: 10px;
}
#blog-container .post {
  width: 50%;

  padding-bottom: 60px;
}
#blog-container .blogs {
  width: 50%;

  padding: 20px;
}
#blog-container .blogs h3 {
  color: #29303b;
  padding: 15px 0 10px 0;
}
#blog-container .blogs p {
  color: #757373;
  padding-bottom: 20px;
}
#blog-container .blogs a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: rgb(2, 162, 255);
  color: aliceblue;
  border-radius: 5px;
  font-weight: 600;
}
#blog-container .post img{
  width:500px;
  height: 300px;
  margin-left: 120px;

}
#post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#post-container .post img {
  margin-top: 30px;
  max-width: 900px;
  max-height: 500px;
  border-radius: 19px;
}
#post-container .blogs {
  margin: 15px 25px 10px 25px;
  width: 60%;
}
#post-container .post .img0 {
  margin-top: 30px;
  width: 600px;
  max-height: 500px;
  border-radius: 19px;
}
#post-container .blogs h3 {
  color: #29303b;
  padding: 15px 0 10px 0px;
}
#post-container .blogs p {
  text-align: justify;
  color: #757373;
  font-size: 1.1rem;
  padding-bottom: 60px;
}
#post-container .blogs a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: rgb(2, 162, 255);
  color: aliceblue;
  border-radius: 5px;
  font-weight: 600;
}

@media (max-width: 821px) {
 .post {
   transform: scale(0.8);
 }
  #blog-home {
    width: 80%;
    height: auto;
  }
  #hBlog {
    padding-left: 120px;
  }
  .blog-text {
    font-size: 20px;
    margin-left: -10px;
    color: rgb(255, 255, 255);
  }
  #blog-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 20px;
  }
  #blog-container .post {
    width: 50%;
    padding-bottom: 0;
  }
  #blog-container .blogs {
    width: 80%;
    padding: 20px;
    margin-bottom: 20px;
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-right {
  animation: slideInRight 1.5s ease-in-out;
}

.post {
  display: inline-block;
  width: 50%;
}

.blogs {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}